<section>
    <div class="row row-no-gutter">
        {{#each cars}}
            <div class="col-sm-6 col-md-4">
                <div class="product">
                    <img src="{{image}}" alt="">
                    <div class="product__cnt">
                        <h5 class="uppercase">{{model}}</h5>
                        <ul class="pricing-table">
                            <li>Price per day: <span class="price">{{pricePerDay}}</span></li>
                        </ul>
                        {{#if ../user}}
                            <span class="link"><a href="/car/rent/{{_id}}">Rent</a></span>
                        {{/if}}
                        {{#if ../isAdmin}}
                            <span class="link"><a href="/car/edit/{{_id}}">Edit</a></span>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>